.socials{
    display: flex;
    justify-content: left;
    align-items: center;
}

.socialLink{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icon{
    font-size: 40px;
    margin:10px;
}

#AllMedias{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#allSocials{
    display: flex;
    justify-content: center;
    flex-direction: column;
}