.tag{
    border: 1px solid #74B72E;
    border-radius: 10px;

    margin: 10px 10px 0px 10px;
    padding: 10px;

    min-width: 100px;
}

.tag:hover{
    cursor: default;
} 

.tag.highlighted {
    background-color: yellow;
    color: black;
    outline: 2px solid orange;
}